html {
    background-color: red;
    font-family: "Rubik", sans-serif;
    margin-left: 20px;
    font-weight: 300;
}
/*  
h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
 
hr {
    margin-left: 0px;
    background-color: #D0581C;
    height: 500px;
    width: 196px;
} */
/*  
#filterButton {
    background-color: #D0581C;
    width: 275px;
    height: 39px;
    border-radius: 13px;
}
 
.buttonContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-align: center;
}
  */
/* a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
.buttonDesignPositive {
    border-radius: 13px;
    color: white;
    background-color: #D0581C;
    border-color: #D0581C;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 39px;
} */
.navbar-table-container {
    background-color: #FBB023;
    height: 100%;
    width: 358px;

    margin:0;
    padding:0;
    position: relative;
}

tbody{
    width: 358px;
}

tr {
    text-align: center;
    font-size: 26px;
}

td {
    padding: 20px
}

a:visited,
a:link {
    color: #434530;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

.navbar {
    margin:0;
    padding:0;
}