html {
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}
 
h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
 
hr {
    margin-left: 0px;
    background-color: #D0581C;
    height: 500px;
    width: 196px;
}
 
#filterButton {
    background-color: #D0581C;
    width: 275px;
    height: 39px;
    border-radius: 13px;
}
 
.buttonContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-align: center;
    /* border: 10px solid black; */
}
 
a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
.buttonDesignPositive {
    border-radius: 13px;
    color: white;
    background-color: #D0581C;
    border-color: #D0581C;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 39px;
}
