.navbarHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D0581C;
    margin:0;
    /* padding:0; */
    color: #FFFFFF;

    height: 25vh;
    width: 358px;
    
    font-weight: 200;
    font-size: 48px;
    text-align: center;
}

.navbarTable {
    background-color: #FBB023;
    height: 75vh;
    width: 358px;

    margin:0;
    padding:0;
    position: relative;
}

.navbarTr {
    text-align: center;
    font-size: 30px;
}

a:visited,
a:link {
    color: #434530;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

.navbar {
    margin:0;
    padding:0;
    position:fixed;
    /* height: 100vh; */
}

body {
    display: flex;
}

.elements {
    margin-left: 444px;
}

h2 {
    /* padding-left: 86px; */
    padding-top: 79px;

    font-weight: 700;
    font-size: 48px;
}

#baseHR {
    background-color:#D0581C;
    width:196px;
    height:15px;

    margin-top: 27px;
    /* margin-left: 86px; */
  }

.buttonDesignPositive{
    background: linear-gradient(to bottom right, #D0581C, #FBB023);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 100px;
    margin-left: 10px;
}

.buttonDesignPositive:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
.buttonDesignPositive:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

.buttonDesignNegative-elements{
    background: #FBB023;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 200px;
    margin-left: 10px;
}

#deleteButton{
    color: white;
    background: gray;
}