html {
	background-color: white;
	font-family: 'Rubik', sans-serif;
	margin-left: 20px;
}

.pageHeading {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 800;
}

hr {
	margin-left: 0px;
	background-color: #D0581C;
	height: 500px;
	width: 196px;
}

h3, .Mother, .Siblings {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
}

#submitButton{
	background-color: #D0581C;
	width: 429px;
	height: 39px;

	text-align: center;
	margin: auto;
}

#cancelButton, #submitButton {
	border-radius: 13px;
}

.buttonContainer {
	margin-top:20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.formContainer {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}

/* NAVBAR */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D0581C;
    margin:0;
    /* padding:0; */
    color: #FFFFFF;

    height: 212px;
    width: 358px;
    
    font-weight: 200;
    font-size: 48px;
    text-align: center;
}

table {
    background-color: #FBB023;
    height: 812px;
    width: 358px;

    margin:0;
    padding:0;
    position: relative;
}

tr {
    text-align: center;
    font-size: 30px;
}

a:visited,
a:link {
    color: #434530;
}

a:hover {
    color:white;
    text-decoration: none;
}

.navbar {
    margin:0;
    padding:0;
}

body {
    display: flex;
}