html {
    background-color: white;
    font-family: "Rubik", sans-serif;
    margin-left: 20px;
    font-weight: 300;
}
 
h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
 
hr {
    margin-left: 0px;
    background-color: #D0581C;
    height: 500px;
    width: 196px;
}
 
.buttonDesignPositive {
    background-color: #D0581C;
    width: 150px;
    height: 39px;
    border-radius: 13px;
    COLOR: WHITE;
    border-color: #D0581C;
}
 
.buttonDesignNegative {
    display: flex;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-align: center;
    /* border: 10px solid black; */
    border-radius: 13px;
    justify-content: space-evenly;
    color: white;
    background-color: #D0581C;
    border-color: #D0581C;
    width: 170px;
    height: 34px;
}

a {
    border-radius: 13px;
    color: white;
    background-color: gray;
    width: 100px;
    height: 39px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}