<!DOCTYPE html>
{% load static %} 
<html>

<head>
    <title>Edit Account</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{% static "styles/accountedit.css" %}" type="text/css">
  
</head>

<body>
    <div class="navbar">
        <div class="table-container">
            <table class="navbarTable">
                <thead class= "border-bottom font-weight-bold">
                    <h1 class="navbarHeader">Camelean<br>Academy</h1>
                </thead>

                <tbody>
                    <tr class="navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:home' %}">Home</a></td>
                    </tr>
                    <tr class="navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:edit_acc' %}">Edit Account Credentials</a></td>
                    </tr>
                    <tr class="navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_form' user.id %}">Edit Student Information</a></td>
                    </tr>
                    <tr class="navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_paymentview' %}">View Payments</a></td>
                    </tr>
                    <tr class="navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:viewGradeReport' %}">View Grade Report</a></td>
                    </tr>
                    <tr class="navbarTr">
                    <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:log_out' %}">Logout</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">


                        <h3 id="form-title">Change Username and Password</h3>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" placeholder="Username..." class="form-control">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                    <input type="password" name="password" placeholder="Password..." class="form-control" >
                            </div>

                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <button type='submit' class='buttonDesignPositive'>Submit</button>
                                </div>
                        </form>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {%if "username" in message.tags %}
                                <li class= "text-danger"> Please choose another username.</li> 
                            
        
                            {%elif "password" in message.tags %}
                            <div class="text-danger">
                                Invalid Password. Please take note of the following:
                                <ul>
                                    <li class= "text-danger"> Please enter a password that is at least 8 characters in length.</li>
                                    <li class= "text-danger"> Please enter a password that has at least 1 number.</li>
                                    <li class= "text-danger"> Please enter a password that is not common.</li>
                                </ul>  
                            {%endif%}
                        
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

</body>
</html>