<h1 style="text-align: center;padding: 1rem 0 1rem 0;">Camelean Academy Student Information System (CA-SIS)</h1>

<h2 class="pageHeading">Home</h2>
<div class="table-container">
    <table>
        <thead class= "border-bottom font-weight-bold">
        </thead>
        <tbody>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:edit_acc' %}">Edit Account Credentials</a></td>
            </tr>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_paymentview' %}">View Payments</a></td>
            </tr>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:viewGradeReport' %}">View Grade Report</a></td>
            </tr>
        </tbody>
    
    </table>
</div>
<br>
<br>
</div> 



