<h1 style="text-align: center;padding: 1rem 0 1rem 0;">Camelean Academy Student Information System (CA-SIS)</h1>

<h2 class="pageHeading">Admin Home</h2>
<div class="table-container">
    <table>
        <thead class= "border-bottom font-weight-bold">
        </thead>
        <tbody>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:registration_list' %}">Registration List</a></td>
            </tr>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_list' %}">View Student List</a></td>
            </tr>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:payment_list' %}">View Payment Records</a></td>
            </tr>
            <tr>
                <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_enrollment' %}">View Student Enrollment Report</a></td>
            </tr>
            <tr>
            <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:log_out' %}">Logout</a></td>
            </tr>
        </tbody>
    
    </table>
</div>
<br>
<br>
</div> 



