<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;500&family=Rubik:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "styles/sList.css" %}" type="text/css">

</head>

<body>
    <div class="navbar">
        <div class="navbar-table-container">
            <table class = "navbarTable">
                <thead class= "border-bottom font-weight-bold">
                    <h1 class = "navbarHeader">
                        Camelean Academy
                    </h1>
                </thead>
                <tbody>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:home' %}">Home</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:registration_list' %}">Registration List</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_list' %}">View Student List</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:payment_list' %}">View Payment Records</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:student_enrollment' %}">View Student Enrollment Report</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:grade_report_nursery' %}">Generate Grade Reports<br> Nursery</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:grade_report_k1k2jr' %}">Generate Grade Reports<br> K1 Jr. & K2 Jr.</a></td>
                    </tr>
                    <tr class = "navbarTr">
                        <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:grade_report_kinder2senior' %}">Generate Grade Reports<br> K2 Sr.</a></td>
                    </tr>
                    <tr class = "navbarTr">
                    <td data-heading="Testing"><a class="buttonDesignNegative" href="{% url 'sis_app:log_out' %}">Logout</a></td>
                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>
    <div class = "elements">
        <h2 class="pageHeading">View GradeReports of {{student.student_firstname}} {{student.student_lastname}}</h2>
        <hr id="baseHR">
        <div class="form-container">
        </div>

        <div class="table-container">
            <table class = "table table-borderless">
                <thead class= "border-bottom font-weight-bold">
                    <tr>
                        <th>School Year</th>
                        <th>Grade Level</th>
                        <th>Period</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gradereport in GradeReportList %}
                    <tr>
                        <td data-heading="First Name">{{gradereport.school_year}}</td>
                        <td data-heading="Last Name">{{gradereport.gradelevel}}</td>
                        <td data-heading="Enrollment Status">{{gradereport.grading_period}}</td>
                        <td><a class="buttonDesignNegative-elements" href="{% url 'sis_app:viewGradeReportAdmin2' gradereport.id %}">View GradeReport</a></td>
                        <td><a class="buttonDesignNegative-elements" href="{% url 'sis_app:deleteGradeReport' gradereport.id %}">Delete GradeReport</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        </div>
        <div class="buttonContainer">

            <a class="buttonDesignNegative-elements" href="{% url 'sis_app:student_list' %}" id='cancelButton'>Cancel</a>


        </div>
    </div>
</body>
</html>